/* You can add global styles to this file, and also import other style files */
$primary-color: #002677;
$primary: #002677;
$white: #fefefe;
$grey: #9e9a9a;

$in-progress-color: #02bed5;
$success-color: #00b050;
$warning-color: #f6b800;
$danger-color: #ff140a;

$field-color: rgba(116, 116, 116);
$field-color-opacity: rgba(116, 116, 116, .75);
$field-select-color: rgb(73 71 71);