.p-button-flex {
    display: flex;
    align-items: center; /* Vertically centers the icon and text */
    justify-content: center; /* Horizontally centers the icon and text */
  }

  .form-bg {
    background-color: #b7d6e9
  }

  .bg-custom {
    background-color: #3d7fd9 !important;
    color: #fff !important;
    font-weight: bold !important;
  }